<!DOCTYPE html> <!--etapa 1.1-->

<html lang="en">

    <!--etapa 4.5 decuparea paginii principale index.html in fragmente de tip ejs-->
    <!--aici este inclus headerul -->
    <%- include('../fragmente/head'); -%>


<!--etapa 1.4-->

<body>

    <%- include('../fragmente/header'); -%>
    
    <%- include('../fragmente/nav'); -%>

    <%- include('../fragmente/main'); -%>

    <%- include('../fragmente/footer'); -%>

</body>
<!-- a trecut prin validatorul de html etapa 1.15-->